
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
/* Marker tweaks */
  .mapboxgl-popup-close-button {
  display: none;
  }
  .mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 80px;
  }
  .mapboxgl-popup-content h3 {
  background: var(--color-secondary);
  color: #fff;
  margin: 0;
  padding: 2px 5px 2px 9px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  }
   
  .mapboxgl-popup-content h4 {
  background: var(--color-quarternary);
  color: #fff;
  margin: 0;
  padding: 2px 5px 2px 9px;
  font-weight: 400;
  }
   
  .mapboxgl-popup-content div {
  background: white;
  color: var(--color-secondary);
  padding: 10px;
  padding: 2px 5px 2px 9px;
  }
   
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
  
  }
   
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: var(--color-primary);
  }
 